@import "tailwindcss";

/* Tailwind theme tokens */
@theme {
    --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
    --font-display: "Montserrat", ui-sans-serif, system-ui, sans-serif;

    --color-primary: #0056a1;
    --color-secondary: #33b3a9;
}

:root {
    --primary: #0056a1;
    --secondary: #33b3a9;
}

body {
    font-family: var(--font-sans);
    background-color: #f8fafc;
    color: #1e293b;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-display);
}